@import '../node_modules/@spark-ui/theme-chalk/common/var.less';

.spark-button {
  font-size: @font-md;
  padding: 8px 14px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: @text-color;
  background: @primary-color;
}
.spark-button--small {
  font-size: @font-sm;
  padding: 6px 8px;
}

.spark-button--large {
  font-size: @font-lg;
  padding: 10px 20px;
}
