.spark-date-range-picker-item--wrapper {
  overflow: hidden;
  border: 1px dashed transparent;
  color: #666;

  &.is-select-range {
    border-top-color: #666;
    border-bottom-color: #666;
  }

  &.is-selected-range {
    background: rgba(66, 165, 245, 0.4);
  }
}

.spark-date-range-picker-item__content {
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: 200ms;

  :hover {
    background: rgba(0, 0, 0, 0.04);
  }

  &.is-today {
    border: 1px solid #666;
  }

  &.is-action {
    background-color: blue !important;
    color: white;
    border: none;
  }
}