@color-white: var(--spark-color-white);
@color-black: var(--spark-color-black);
@primary-color: var(--spark-color-primary);
@primary-color-light: var(--spark-color-primary-light);
@primary-color-dark: var(--spark-color-primary-dark);

:root {
  --spark-color-white: #ffffff;
  --spark-color-black: #000000;
  --spark-color-primary: #ff7c3a;
  --spark-color-primary-light: lighten(#ff7c3a, 8%);
  --spark-color-primary-dark: darken(#ff7c3a, 6%);
}
