@color-white: var(--spark-color-white);
@color-black: var(--spark-color-black);
@color-gray: var(--spark-color-gray);
@primary-color: var(--spark-color-primary);
@primary-color-light-1: var(--spark-color-primary-light-1);
@primary-color-light-3: var(--spark-color-primary-light-3);
@primary-color-light-5: var(--spark-color-primary-light-5);
@primary-color-light-7: var(--spark-color-primary-light-7);
@primary-color-dark-1: var(--spark-color-primary-dark-1);
@overlay-color: var(--spark-overlay-color);

:root {
  --spark-color-gray: #eee;
  --spark-color-white: #ffffff;
  --spark-color-black: #000000;
  --spark-color-primary: #ff7c3a;
  --spark-color-primary-light-1: lighten(#ff7c3a, 8%);
  --spark-color-primary-light-3: lighten(#ff7c3a, 20%);
  --spark-color-primary-light-5: lighten(#ff7c3a, 28%);
  --spark-color-primary-light-7: lighten(#ff7c3a, 36%);
  --spark-color-primary-dark-1: darken(#ff7c3a, 12%);
  --spark-overlay-color: rgba(0, 0, 0, 0.5);
}